<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/api/users/signup}" th:object="${userCreateForm}" method="post">
<!--        <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->
        <div class="mb-3">
            <label for="email" class="form-label">사용자 이메일</label>
            <input type="text" id="email" th:field="*{email}" class="form-control">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> <!-- 에러 메시지 표시 -->
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" id="username" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="fullName" class="form-label">이름</label>
            <input type="text" id="fullName" th:field="*{fullName}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</body>
</html>
